@model IEnumerable<TipoCuenta>
@{
    ViewData["Title"] = "Lista de tipos cuentas";
}

<h1>Tipos de cuentas</h1>

<a asp-action="Crear" asp-controller="TiposCuentas"
   class="btn btn-primary mb-3">
    Crear cuenta
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Acciones
            </th>
            <th>
                Nombre
            </th>
        </tr>
    </thead>
    <tbody id="reordenable">
        @foreach(var item in Model)
        {
            <tr>
                <td>     
                    <input type="hidden" value="@item.TipoCuentaId" class="ids"/>
                    <a class="btn btn-primary" asp-action="EditarTipoCuenta" 
                        asp-route-TipoCuentaId=@item.TipoCuentaId>
                        Editar
                    </a>
                        <a class="btn btn-danger" asp-action="EliminarTipoCuenta" 
                        asp-route-TipoCuentaId=@item.TipoCuentaId>
                        Eliminar
                    </a>
                </td>
                <td>
                    <strong>
                        @item.Nombre
                    </strong>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        const urlOrdenar = '@Url.Action("OrdenarTiposCuentas")';

        $(function(){
            $("#reordenable").sortable({
                stop: async function(e, ui){
                    await ActualizarOrdenes();
                }
            });

            async function ActualizarOrdenes(){
                const ids = ObtenerIdsDeElementos();

                await EnviarIdsBackend(ids);
            }

            function ObtenerIdsDeElementos(){
                const ids = $(".ids").map(function(){
                    return $(this).val();
                }).get();

                return ids;
            }

             async function EnviarIdsBackend(ids){
                var data = JSON.stringify(ids);

                await fetch(urlOrdenar, {
                    method: 'POST',
                    body: data,
                    headers:{
                        'Content-Type': 'application/json'
                    }
                });
            }
        })
    </script>
}
